# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [36]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from scipy import stats

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://yourname:testpass123@localhost:5432/fraud_detection")

In [49]:
# Write function that locates outliers using standard deviation
def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """

    # Creates dataframe
    cardholder_transaction_df = pd.read_sql(query1, engine)


    # Save average_transaction in variable
    average_transaction = cardholder_transaction_df['amount'].mean()
    # Save standard deviation in a variable
    cardholder_std = cardholder_transaction_df['amount'].std()
    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    # Define an outlier function
    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            
    # Apply the outlier function to the dataframe
    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)


    # Returns all transactions that have been flagged as 'possible fraud'
    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']


outlier_finder(8)

,id,date,amount,card,id_merchant,outlier
19,2573,2018-03-08 20:11:49,20.71,30063281385429,19,possible fraud
107,3132,2018-12-05 13:07:50,20.29,4834483169177062,84,possible fraud
112,3000,2018-12-08 18:32:01,21.61,30063281385429,38,possible fraud

In [50]:
outlier_finder(18)

,id,date,amount,card,id_merchant,outlier
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

cardholder_transaction_df['amount'].dtypes

In [ ]:
"""
Is the std on an over all basis or a transaction per transaction basis?
Or is it number of transactions less than $2 and number of transactions between 7-9
"""

In [51]:
# Find anomalous transactions for 3 random card holders

# Selects random card holders from a list
# Initializes the list
all_card_hodlers = list(range(1,26))
# Selects first random cardholder then removes them from the list to prevent duplicate selection
rand_card_holder_1 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_1)
# Selects second
rand_card_holder_2 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_2)
# Selects third
rand_card_holder_3 = random.choice(all_card_hodlers)

# Finds and displays potentially fraudulent transactions for first random card holder
outlier_finder(rand_card_holder_1)

,id,date,amount,card,id_merchant,outlier
13,2789,2018-03-04 15:50:53,1534.0,30181963913340,118,possible fraud
27,3143,2018-06-10 04:54:27,1795.0,30181963913340,45,possible fraud
41,1520,2018-09-25 23:23:21,1095.0,30181963913340,62,possible fraud
45,1395,2018-10-07 18:29:20,1179.0,30181963913340,106,possible fraud
60,2696,2018-12-19 16:10:03,1724.0,30181963913340,105,possible fraud

In [52]:
# Finds and displays potentially fraudulent transactions for second random card holder
outlier_finder(rand_card_holder_2)

,id,date,amount,card,id_merchant,outlier
6,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,possible fraud
70,2752,2018-07-31 05:15:17,1302.0,4761049645711555811,111,possible fraud
79,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,possible fraud
80,1368,2018-09-06 08:28:55,1017.0,4761049645711555811,135,possible fraud
81,1536,2018-09-06 21:55:02,1056.0,4761049645711555811,36,possible fraud
91,968,2018-09-26 08:48:40,1060.0,4761049645711555811,134,possible fraud
116,2672,2018-11-27 17:27:34,1660.0,4761049645711555811,29,possible fraud
121,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,possible fraud
132,1293,2018-12-30 23:23:09,1033.0,4761049645711555811,57,possible fraud

In [53]:
# Finds and displays potentially fraudulent transactions for third random card holder
outlier_finder(rand_card_holder_3)

,id,date,amount,card,id_merchant,outlier
1,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,possible fraud
19,1480,2018-02-19 16:00:43,1072.0,3516952396080247,49,possible fraud
32,1827,2018-04-18 23:23:29,1086.0,3516952396080247,26,possible fraud
88,1424,2018-08-07 11:07:32,1449.0,3516952396080247,61,possible fraud
128,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,possible fraud
133,1318,2018-12-18 17:20:33,1296.0,3516952396080247,87,possible fraud

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range
"""
split into 4 groups of %25
"""

def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """


    cardholder_transaction_df = pd.read_sql(query1, engine)

    average_transaction = cardholder_transaction_df['amount'].mean()


    """This would be the place where it starts"""
    cardholder_std = cardholder_transaction_df['amount'].std()

    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            

    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)

    # Loop through each transaction to determine if the std() is greater than 2
    # cardholder_transaction_df['outlier'] = cardholder_transaction_df[(cardholder_transaction_df['amount'] < lower_limit) & (cardholder_transaction_df['amount'] > upper_limit)]

    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']

In [ ]:
# Find anomalous transactions for 3 random card holders

In [48]:
query1 = """
    SELECT * 
    FROM transaction
    WHERE card IN
    (
    SELECT card
    FROM credit_card
    WHERE (cardholder_id = 18)
    )  
    ;
"""


cardholder_transaction_df = pd.read_sql(query1, engine)

data = cardholder_transaction_df['amount'].sort_values()
print(data)

Q1 = np.percentile(data, 25, interpolation='midpoint')
Q2 = np.percentile(data, 50, interpolation = 'midpoint') 
Q3 = np.percentile(data, 75, interpolation = 'midpoint') 
print('Q1 25 percentile of the given data is, ', Q1)
print('Q2 50 percentile of the given data is, ', Q2)
print('Q4 75 percentile of the given data is, ', Q3)

IQR = Q3 - Q1

print('Interquartile range is', IQR)

lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
print('lower_limit is', lower_limit)
print('upper_limit is', upper_limit)


def outlier(amount):
    for amount in cardholder_transaction_df['amount']:
        if ((amount > upper_limit) or (amount < lower_limit)):
            return "possible fraud"
        else:
            return "normal"


cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)


print(cardholder_transaction_df[cardholder_transaction_df['outlier']=='normal'])

54        0.67
118       0.69
28        0.92
68        1.24
1         1.36
        ...
123    1154.00
90     1176.00
117    1769.00
49     1814.00
18     1839.00
Name: amount, Length: 133, dtype: float64
Q1 25 percentile of the given data is,  3.46
Q2 50 percentile of the given data is,  10.37
Q4 75 percentile of the given data is,  16.16
Interquartile range is 12.7
low_limit is -15.589999999999996
up_limit is 35.209999999999994
       id                date  amount             card  id_merchant outlier
0     567 2018-01-01 23:15:10    2.95    4498002758300           64  normal
1    2077 2018-01-05 07:19:27    1.36  344119623920892           30  normal
2    3457 2018-01-07 01:10:54  175.00  344119623920892           12  normal
3     812 2018-01-08 11:15:36  333.00  344119623920892           95  normal
4    1816 2018-01-08 20:10:59   11.55  344119623920892          102  normal
..    ...                 ...     ...              ...          ...     ...
128  2148 2018-12-23 03:33:56    4.36  344119623920892          141  normal
129  1994 2018-12-27 18:46:57    1.70  344119623920892           55  normal
130   114 2018-12-28 08:45:26    3.46    4498002758300           82  normal
131  1228 2018-12-28 09:00:45   12.88  344119623920892           60  normal
132  1218 2018-12-29 08:11:55   12.25    4498002758300            6  normal

[133 rows x 6 columns]

In [37]:
IQR1 = stats.iqr(data, interpolation='midpoint')
IQR1

9.155

In [41]:
cardholder_transaction_df['amount'].sort_values()

32     0.70
12     1.01
26     1.08
78     1.17
39     1.19
      ...
13    18.52
25    18.62
37    18.90
94    19.36
65    19.51
Name: amount, Length: 99, dtype: float64