# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://yourname:testpass123@localhost:5432/fraud_detection")

In [8]:
# Write function that locates outliers using standard deviation
def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """


    cardholder_transaction_df = pd.read_sql(query1, engine)

    average_transaction = cardholder_transaction_df['amount'].mean()
    cardholder_std = cardholder_transaction_df['amount'].std()

    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            

    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)

    # Loop through each transaction to determine if the std() is greater than 2
    # cardholder_transaction_df['outlier'] = cardholder_transaction_df[(cardholder_transaction_df['amount'] < lower_limit) & (cardholder_transaction_df['amount'] > upper_limit)]

    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']









    

    # print(all_transactions_std)
    # print(cardholder_std)

    # if cardholder_std > all_transactions_std:
    #     print("possible fruad")
    # else:
    #     print("no idication of fraud based on std()")

    """
    Want to do it by line item
    comparing

    Find mean of all transactions
    for each transaction is it greater than 2 std from the mean

    """

    # if cardholder_transaction_df[cardholder_transaction_df['amount'] < 2].std() > all_transactions_std:
    #     print("chance of fraud")



"""
Basically want to do some version of this code that i created for and pandas homework 
# Calculate  the daily standard deviation of S&P 500
sp_daily_std = daily_std['S&P 500']

# Determine which portfolios are riskier than the S&P 500 and prints
for fund in daily_std:
    if fund > sp_daily_std:
        print(f"{daily_std.loc[daily_std == fund].index[0]} is riskier that the S&P 500")
"""




    # return cardholder_transaction_df

    # cardholder_plot = cardholder2_transaction_df.hvplot.line(
    #     x="date",
    #     y="amount",
    #     xlabel="Time",
    #     ylabel="Amount",
    #     title="Cardholder 2 Transactions"
    # )
    # cardholder_plot

outlier_finder(8)

,id,date,amount,card,id_merchant,outlier
19,2573,2018-03-08 20:11:49,20.71,30063281385429,19,possible fraud
107,3132,2018-12-05 13:07:50,20.29,4834483169177062,84,possible fraud
112,3000,2018-12-08 18:32:01,21.61,30063281385429,38,possible fraud

In [4]:
query1 = """
    SELECT * 
    FROM transaction
    WHERE card IN
    (
    SELECT card
    FROM credit_card
    WHERE (cardholder_id = 2)
    )  
    ;
"""


cardholder_transaction_df = pd.read_sql(query1, engine)

average_transaction = cardholder_transaction_df['amount'].mean()
cardholder_std = cardholder_transaction_df['amount'].std()

# Find upper and lower limit
upper_limit = average_transaction + 2 * cardholder_std
lower_limit = average_transaction - 2 * cardholder_std

def outlier(amount):
    if amount < lower_limit or amount > upper_limit:
        return "possible fraud"
    else:
        return "normal"
        

cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)

# Loop through each transaction to determine if the std() is greater than 2
# cardholder_transaction_df['outlier'] = cardholder_transaction_df[(cardholder_transaction_df['amount'] < lower_limit) & (cardholder_transaction_df['amount'] > upper_limit)]

print(cardholder_transaction_df)

      id                date  amount                 card  id_merchant outlier
0   2439 2018-01-06 02:16:41    1.33  4866761290278198714          127  normal
1   1867 2018-01-06 05:13:20   10.82  4866761290278198714           70  normal
2   3028 2018-01-07 15:10:27   17.29  4866761290278198714          126  normal
3    998 2018-01-10 10:07:20   10.91         675911140852           78  normal
4   2655 2018-01-16 06:29:35   17.64         675911140852          136  normal
..   ...                 ...     ...                  ...          ...     ...
94  3135 2018-12-13 06:21:43   19.36  4866761290278198714           55  normal
95  1159 2018-12-13 15:28:18   10.06         675911140852          110  normal
96  1913 2018-12-16 13:44:25   11.38  4866761290278198714           12  normal
97  1695 2018-12-22 23:29:09   10.20  4866761290278198714           90  normal
98   962 2018-12-28 15:30:55   11.03         675911140852            2  normal

[99 rows x 6 columns]

In [37]:
def outlier(amount):
    if amount < 1.0 or amount > 5.0:
        print("yes")

outlier(0)

yes

In [5]:
outlier_finder(18)

Empty DataFrame
Columns: [id, date, amount, card, id_merchant, outlier]
Index: []

cardholder_transaction_df['amount'].dtypes

In [20]:
cardholder_transaction_df['amount'].dtypes

dtype('float64')

In [23]:
cardholder_transaction_df[(cardholder_transaction_df['amount'] < lower_limit) & (cardholder_transaction_df['amount'] > upper_limit)]

Empty DataFrame
Columns: [id, date, amount, card, id_merchant]
Index: []

In [ ]:
"""
Is the std on an over all basis or a transaction per transaction basis?
Or is it number of transactions less than $2 and number of transactions between 7-9
"""

In [24]:
# Find anomalous transactions for 3 random card holders

# Selects random card holders from a list
# Initializes the list
all_card_hodlers = list(range(1,26))
# Selects first random cardholder then removes them from the list to prevent duplicate selection
rand_card_holder_1 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_1)
# Selects second
rand_card_holder_2 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_2)
# Selects third
rand_card_holder_3 = random.choice(all_card_hodlers)

# Finds and displays potentially fraudulent transactions for first random card holder
outlier_finder(rand_card_holder_1)

,id,date,amount,card,id_merchant,outlier
92,3051,2018-06-21 22:11:26,20.65,4150721559116778,42,possible fraud

In [25]:
# Finds and displays potentially fraudulent transactions for second random card holder
outlier_finder(rand_card_holder_2)

,id,date,amount,card,id_merchant,outlier
2,99,2018-01-02 23:27:46,1031.0,501879657465,95,possible fraud
18,2667,2018-01-23 06:29:37,1678.0,501879657465,92,possible fraud
48,2610,2018-03-12 00:44:01,1530.0,501879657465,20,possible fraud
54,236,2018-03-20 10:19:25,852.0,501879657465,35,possible fraud
105,1622,2018-06-21 13:16:25,1102.0,501879657465,128,possible fraud
113,3318,2018-06-27 01:27:09,1592.0,501879657465,136,possible fraud
114,1129,2018-06-28 21:13:52,1108.0,501879657465,35,possible fraud
158,1856,2018-09-23 19:20:23,1075.0,501879657465,13,possible fraud
197,1204,2018-11-25 20:44:07,1123.0,501879657465,59,possible fraud
198,2760,2018-11-27 15:36:05,1802.0,501879657465,70,possible fraud
202,208,2018-12-14 08:51:41,748.0,501879657465,96,possible fraud

In [26]:
# Finds and displays potentially fraudulent transactions for third random card holder
outlier_finder(rand_card_holder_3)

,id,date,amount,card,id_merchant,outlier
8,2749,2018-03-12 05:29:57,22.49,6011987562414062,147,possible fraud

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range
"""
split into 4 groups of %25
"""

In [ ]:
# Find anomalous transactions for 3 random card holders