# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [74]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from scipy import stats

In [75]:
# Create a connection to the database
engine = create_engine("postgresql://yourname:testpass123@localhost:5432/fraud_detection")

In [76]:
# Write function that locates outliers using standard deviation
def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """

    # Creates dataframe
    cardholder_transaction_df = pd.read_sql(query1, engine)


    # Save average_transaction in variable
    average_transaction = cardholder_transaction_df['amount'].mean()
    # Save standard deviation in a variable
    cardholder_std = cardholder_transaction_df['amount'].std()
    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    # Define an outlier function
    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            
    # Apply the outlier function to the dataframe
    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)


    # Returns all transactions that have been flagged as 'possible fraud'
    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']


outlier_finder(8)

,id,date,amount,card,id_merchant,outlier
19,2573,2018-03-08 20:11:49,20.71,30063281385429,19,possible fraud
107,3132,2018-12-05 13:07:50,20.29,4834483169177062,84,possible fraud
112,3000,2018-12-08 18:32:01,21.61,30063281385429,38,possible fraud

In [77]:
outlier_finder(18)

,id,date,amount,card,id_merchant,outlier
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

cardholder_transaction_df['amount'].dtypes

In [ ]:
"""
Is the std on an over all basis or a transaction per transaction basis?
Or is it number of transactions less than $2 and number of transactions between 7-9
"""

In [78]:
# Find anomalous transactions for 3 random card holders

# Selects random card holders from a list
# Initializes the list
all_card_hodlers = list(range(1,26))
# Selects first random cardholder then removes them from the list to prevent duplicate selection
rand_card_holder_1 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_1)
# Selects second
rand_card_holder_2 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_2)
# Selects third
rand_card_holder_3 = random.choice(all_card_hodlers)

# Finds and displays potentially fraudulent transactions for first random card holder
outlier_finder(rand_card_holder_1)

,id,date,amount,card,id_merchant,outlier
1,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,possible fraud
19,1480,2018-02-19 16:00:43,1072.0,3516952396080247,49,possible fraud
32,1827,2018-04-18 23:23:29,1086.0,3516952396080247,26,possible fraud
88,1424,2018-08-07 11:07:32,1449.0,3516952396080247,61,possible fraud
128,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,possible fraud
133,1318,2018-12-18 17:20:33,1296.0,3516952396080247,87,possible fraud

In [79]:
# Finds and displays potentially fraudulent transactions for second random card holder
outlier_finder(rand_card_holder_2)

,id,date,amount,card,id_merchant,outlier
21,3106,2018-03-30 15:39:04,19.87,501809222273,33,possible fraud
53,3047,2018-10-07 19:09:57,19.55,501809222273,107,possible fraud

In [80]:
# Finds and displays potentially fraudulent transactions for third random card holder
outlier_finder(rand_card_holder_3)

,id,date,amount,card,id_merchant,outlier
6,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,possible fraud
70,2752,2018-07-31 05:15:17,1302.0,4761049645711555811,111,possible fraud
79,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,possible fraud
80,1368,2018-09-06 08:28:55,1017.0,4761049645711555811,135,possible fraud
81,1536,2018-09-06 21:55:02,1056.0,4761049645711555811,36,possible fraud
91,968,2018-09-26 08:48:40,1060.0,4761049645711555811,134,possible fraud
116,2672,2018-11-27 17:27:34,1660.0,4761049645711555811,29,possible fraud
121,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,possible fraud
132,1293,2018-12-30 23:23:09,1033.0,4761049645711555811,57,possible fraud

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range
"""
split into 4 groups of %25
"""

def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """


    cardholder_transaction_df = pd.read_sql(query1, engine)

    average_transaction = cardholder_transaction_df['amount'].mean()


    """This would be the place where it starts"""
    cardholder_std = cardholder_transaction_df['amount'].std()

    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            

    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)

    # Loop through each transaction to determine if the std() is greater than 2
    # cardholder_transaction_df['outlier'] = cardholder_transaction_df[(cardholder_transaction_df['amount'] < lower_limit) & (cardholder_transaction_df['amount'] > upper_limit)]

    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']

In [ ]:
# Find anomalous transactions for 3 random card holders

In [81]:
query1 = """
    SELECT * 
    FROM transaction
    WHERE card IN
    (
    SELECT card
    FROM credit_card
    WHERE (cardholder_id = 18)
    )  
    ;
"""


cardholder_transaction_iqr_df = pd.read_sql(query1, engine)

data = cardholder_transaction_iqr_df['amount'].sort_values()
print(data)

Q1 = np.percentile(data, 25, interpolation='midpoint')
Q2 = np.percentile(data, 50, interpolation = 'midpoint') 
Q3 = np.percentile(data, 75, interpolation = 'midpoint') 
print('Q1 25 percentile of the given data is, ', Q1)
print('Q2 50 percentile of the given data is, ', Q2)
print('Q4 75 percentile of the given data is, ', Q3)

IQR = Q3 - Q1

print('Interquartile range is', IQR)

lower_limit = Q1 - [1.5 * IQR]
upper_limit = Q3 + [1.5 * IQR]
print('lower_limit is', lower_limit)
print('upper_limit is', upper_limit)


def outlier(amount):
    for amount in cardholder_transaction_iqr_df['amount']:
        if ((amount > upper_limit) or (amount < lower_limit)):
            return "possible fraud"
        else:
            return "normal"


cardholder_transaction_iqr_df['outlier'] = cardholder_transaction_iqr_df['amount'].apply(outlier)


print(cardholder_transaction_iqr_df[cardholder_transaction_iqr_df['outlier']=='possible fraud'])

with pd.option_context('display.max_rows', None,):
   print(cardholder_transaction_iqr_df)

54        0.67
118       0.69
28        0.92
68        1.24
1         1.36
        ...
123    1154.00
90     1176.00
117    1769.00
49     1814.00
18     1839.00
Name: amount, Length: 133, dtype: float64
Q1 25 percentile of the given data is,  3.46
Q2 50 percentile of the given data is,  10.37
Q4 75 percentile of the given data is,  16.16
Interquartile range is 12.7
lower_limit is [-15.59]
upper_limit is [35.21]
Empty DataFrame
Columns: [id, date, amount, card, id_merchant, outlier]
Index: []
       id                date   amount             card  id_merchant outlier
0     567 2018-01-01 23:15:10     2.95    4498002758300           64  normal
1    2077 2018-01-05 07:19:27     1.36  344119623920892           30  normal
2    3457 2018-01-07 01:10:54   175.00  344119623920892           12  normal
3     812 2018-01-08 11:15:36   333.00  344119623920892           95  normal
4    1816 2018-01-08 20:10:59    11.55  344119623920892          102  normal
5     665 2018-01-16 19:19:48     2.55  344119623920892           99  normal
6    1889 2018-01-17 07:31:03    12.67    4498002758300           89  normal
7    3340 2018-01-17 15:02:38     1.72    4498002758300          115  normal
8    3466 2018-01-18 03:12:14     3.44  344119623920892            5  normal
9    1410 2018-01-19 03:01:33    10.39    4498002758300          132  normal
10    494 2018-01-21 06:47:24     5.34    4498002758300           85  normal
11    938 2018-01-26 09:30:15    10.76    4498002758300           30  normal
12    103 2018-01-27 00:11:12     5.87  344119623920892           64  normal
13   3168 2018-01-29 02:00:47    18.65    4498002758300           90  normal
14   3326 2018-02-14 09:36:28     2.73    4498002758300            1  normal
15   3038 2018-02-14 14:49:22    17.36    4498002758300           65  normal
16   2590 2018-02-18 08:54:19    18.30  344119623920892           69  normal
17   1860 2018-02-19 17:56:39    12.10    4498002758300           49  normal
18   3098 2018-02-19 22:48:25  1839.00  344119623920892           95  normal
19   3432 2018-02-21 20:23:38     2.31  344119623920892           90  normal
20   3090 2018-03-03 18:45:59    17.94    4498002758300          130  normal
21   1903 2018-03-06 16:09:53    10.82  344119623920892           65  normal
22   1611 2018-03-07 00:05:21    12.92  344119623920892          126  normal
23   1276 2018-03-07 19:07:30    10.18    4498002758300          117  normal
24   1133 2018-03-07 19:14:00    10.37    4498002758300           45  normal
25   3176 2018-03-09 05:47:19    12.15  344119623920892           99  normal
26    201 2018-03-10 13:26:19     6.79    4498002758300          115  normal
27   1064 2018-03-13 20:05:06    10.46  344119623920892            5  normal
28    747 2018-03-19 05:53:26     0.92  344119623920892           47  normal
29   3266 2018-03-20 02:31:55    18.14    4498002758300           52  normal
30   2648 2018-03-25 13:31:56    19.60  344119623920892           93  normal
31    752 2018-03-29 18:33:39     2.53  344119623920892           21  normal
32    507 2018-03-30 21:04:57     3.08    4498002758300           80  normal
33   1934 2018-03-31 23:13:53     1.56  344119623920892          142  normal
34   1359 2018-04-03 03:23:37  1077.00  344119623920892          100  normal
35   3131 2018-04-18 13:50:55    21.20  344119623920892           77  normal
36   2817 2018-04-30 14:09:06    22.12    4498002758300           30  normal
37   2311 2018-05-11 06:13:46     1.81  344119623920892           60  normal
38   2666 2018-05-11 23:17:44    16.70    4498002758300          113  normal
39    634 2018-05-14 23:34:39     1.99    4498002758300           25  normal
40   2437 2018-05-17 21:52:02     4.64    4498002758300           42  normal
41   3417 2018-05-19 07:14:56     3.22    4498002758300            2  normal
42   2477 2018-05-26 00:34:37    19.22    4498002758300          106  normal
43   1592 2018-05-26 04:25:51    10.35    4498002758300          123  normal
44   1824 2018-05-27 02:19:05    10.11    4498002758300           66  normal
45   2166 2018-05-27 22:32:03     4.53  344119623920892          147  normal
46    781 2018-05-28 17:30:04     1.77    4498002758300          145  normal
47   2518 2018-05-30 23:38:52    14.43  344119623920892           87  normal
48   1254 2018-06-02 21:41:12    10.29    4498002758300           22  normal
49   3139 2018-06-03 20:02:28  1814.00  344119623920892          123  normal
50    155 2018-06-04 06:08:44     3.61  344119623920892           54  normal
51   1288 2018-06-05 22:33:38    10.36  344119623920892           14  normal
52   2527 2018-06-10 01:56:33    16.26  344119623920892           68  normal
53   2717 2018-06-10 07:55:27    16.16    4498002758300           10  normal
54    713 2018-06-13 05:34:22     0.67  344119623920892           48  normal
55   1073 2018-06-15 02:47:51    11.78  344119623920892           62  normal
56   1059 2018-06-15 03:28:52    10.47  344119623920892          116  normal
57   2310 2018-06-21 12:19:53     1.96  344119623920892          145  normal
58   2725 2018-06-22 16:08:31    14.45    4498002758300          149  normal
59   3245 2018-06-22 22:49:17    17.73  344119623920892           74  normal
60   2736 2018-06-23 20:40:33    13.60    4498002758300          107  normal
61    358 2018-06-24 15:48:23     4.88    4498002758300            3  normal
62    654 2018-06-30 01:56:19   121.00  344119623920892           20  normal
63    481 2018-07-01 02:44:33     9.22    4498002758300          143  normal
64   2915 2018-07-01 21:53:10    18.09    4498002758300           38  normal
65   1737 2018-07-03 18:27:28    11.08  344119623920892           45  normal
66    560 2018-07-06 16:12:08   117.00  344119623920892           62  normal
67    614 2018-07-07 00:11:44     2.75    4498002758300          126  normal
68   3435 2018-07-08 04:01:24     1.24    4498002758300            4  normal
69    908 2018-07-12 17:57:57    10.83    4498002758300          136  normal
70   2023 2018-07-17 09:00:53     3.97    4498002758300          143  normal
71    136 2018-07-18 09:19:08   974.00  344119623920892           19  normal
72   3224 2018-07-21 15:39:13    17.53  344119623920892          142  normal
73   2066 2018-07-26 18:08:43     2.93    4498002758300           69  normal
74   3348 2018-07-29 12:15:25     1.64    4498002758300          137  normal
75   2298 2018-07-31 03:42:50     3.64    4498002758300           10  normal
76    434 2018-07-31 06:37:30     7.28    4498002758300           87  normal
77    913 2018-08-01 19:36:43    10.12    4498002758300           29  normal
78   2452 2018-08-04 21:56:44    17.57    4498002758300           31  normal
79     41 2018-08-07 13:04:43     9.53  344119623920892           74  normal
80     23 2018-08-09 20:03:26     4.60    4498002758300           67  normal
81   2744 2018-08-12 19:40:26    17.97  344119623920892          131  normal
82   3019 2018-08-14 08:38:49    18.54    4498002758300           55  normal
83   1635 2018-08-17 10:33:42    10.04    4498002758300           78  normal
84   1489 2018-08-17 17:32:11    11.24  344119623920892           66  normal
85   1411 2018-08-31 10:48:57    11.01    4498002758300           86  normal
86   1126 2018-08-31 23:01:17    10.89    4498002758300          150  normal
87   2103 2018-09-02 11:20:42   458.00  344119623920892           10  normal
88    475 2018-09-03 16:10:09     7.23    4498002758300           17  normal
89   1125 2018-09-08 11:22:36    10.28  344119623920892           12  normal
90   1431 2018-09-10 22:49:41  1176.00  344119623920892           72  normal
91   1899 2018-09-11 02:22:09    11.35  344119623920892           60  normal
92   2427 2018-09-12 04:32:43     4.67    4498002758300          136  normal
93   2470 2018-09-16 00:17:03    20.75  344119623920892           10  normal
94    126 2018-09-22 05:28:30     5.48  344119623920892          128  normal
95   2619 2018-09-23 18:59:26    18.83    4498002758300          116  normal
96    554 2018-09-25 07:39:58     3.66    4498002758300           73  normal
97   2748 2018-09-27 02:31:12    12.61    4498002758300            6  normal
98   2338 2018-09-28 07:31:10     1.61    4498002758300           85  normal
99   1847 2018-09-30 07:38:44    10.45    4498002758300           73  normal
100  1788 2018-10-12 11:58:56    10.36    4498002758300           65  normal
101  1437 2018-10-12 13:03:48    11.13  344119623920892           53  normal
102   202 2018-10-15 17:44:32     6.90  344119623920892           74  normal
103   903 2018-10-16 00:29:28    10.12  344119623920892           21  normal
104  1809 2018-10-21 11:28:24    10.39    4498002758300           18  normal
105  2846 2018-10-22 03:00:44    15.88  344119623920892           11  normal
106   571 2018-10-23 20:11:25     1.36  344119623920892           42  normal
107   383 2018-10-29 09:47:00     5.61  344119623920892           46  normal
108  1054 2018-10-31 23:59:42    10.63  344119623920892           57  normal
109  3109 2018-11-01 02:22:46    15.57  344119623920892           26  normal
110    28 2018-11-01 22:56:20     6.70  344119623920892           42  normal
111  2701 2018-11-03 12:46:57    18.52  344119623920892           66  normal
112  1808 2018-11-04 08:34:16    11.64    4498002758300            9  normal
113  1050 2018-11-07 23:00:10    10.40  344119623920892           51  normal
114  1932 2018-11-10 10:17:29     3.04    4498002758300           77  normal
115   145 2018-11-11 05:55:40     6.36  344119623920892           75  normal
116  1961 2018-11-12 04:53:21     1.75  344119623920892          107  normal
117  3252 2018-11-17 05:30:43  1769.00  344119623920892           18  normal
118   699 2018-11-22 04:16:33     0.69    4498002758300            6  normal
119   770 2018-11-26 20:19:56     1.77  344119623920892           31  normal
120  3158 2018-11-27 03:00:55    17.22    4498002758300           92  normal
121  2213 2018-11-28 06:20:52     3.22    4498002758300           32  normal
122  3343 2018-12-04 14:12:41     1.74    4498002758300          121  normal
123  1326 2018-12-13 12:09:58  1154.00  344119623920892            8  normal
124  1028 2018-12-16 22:38:09    10.62  344119623920892            6  normal
125   786 2018-12-17 17:13:56     2.14  344119623920892           11  normal
126  3425 2018-12-17 17:32:36     2.87    4498002758300           99  normal
127  2428 2018-12-20 17:20:27     1.88  344119623920892          118  normal
128  2148 2018-12-23 03:33:56     4.36  344119623920892          141  normal
129  1994 2018-12-27 18:46:57     1.70  344119623920892           55  normal
130   114 2018-12-28 08:45:26     3.46    4498002758300           82  normal
131  1228 2018-12-28 09:00:45    12.88  344119623920892           60  normal
132  1218 2018-12-29 08:11:55    12.25    4498002758300            6  normal

In [ ]:
IQR1 = stats.iqr(data, interpolation='midpoint')
IQR1

In [ ]:
cardholder_transaction_df['amount'].sort_values()