# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [2]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from scipy import stats

In [3]:
# Create a connection to the database
engine = create_engine("postgresql://yourname:testpass123@localhost:5432/fraud_detection")

In [23]:
# Write function that locates outliers using standard deviation
def outlier_finder(cardholder_id):
    query1 = f"""
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = {cardholder_id})
        )  
        ;
    """

    # Creates dataframe
    cardholder_transaction_df = pd.read_sql(query1, engine)


    # Save average_transaction in variable
    average_transaction = cardholder_transaction_df['amount'].mean()
    # Save standard deviation in a variable
    cardholder_std = cardholder_transaction_df['amount'].std()
    # Find upper and lower limit
    upper_limit = average_transaction + 2 * cardholder_std
    lower_limit = average_transaction - 2 * cardholder_std

    # Define an outlier function
    def outlier(amount):
        if amount < lower_limit or amount > upper_limit:
            return "possible fraud"
        else:
            return "normal"
            
    # Apply the outlier function to the dataframe
    cardholder_transaction_df['outlier'] = cardholder_transaction_df['amount'].apply(outlier)


    # Returns all transactions that have been flagged as 'possible fraud'
    return cardholder_transaction_df[cardholder_transaction_df['outlier']=='possible fraud']


outlier_finder(8)

,id,date,amount,card,id_merchant,outlier
19,2573,2018-03-08 20:11:49,20.71,30063281385429,19,possible fraud
107,3132,2018-12-05 13:07:50,20.29,4834483169177062,84,possible fraud
112,3000,2018-12-08 18:32:01,21.61,30063281385429,38,possible fraud

In [5]:
outlier_finder(18)

,id,date,amount,card,id_merchant,outlier
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

cardholder_transaction_df['amount'].dtypes

In [6]:
"""
Is the std on an over all basis or a transaction per transaction basis?
Or is it number of transactions less than $2 and number of transactions between 7-9
"""

'\nIs the std on an over all basis or a transaction per transaction basis?\nOr is it number of transactions less than $2 and number of transactions between 7-9\n'

In [7]:
# Find anomalous transactions for 3 random card holders

# Selects random card holders from a list
# Initializes the list
all_card_hodlers = list(range(1,26))
# Selects first random cardholder then removes them from the list to prevent duplicate selection
rand_card_holder_1 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_1)
# Selects second
rand_card_holder_2 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_2)
# Selects third
rand_card_holder_3 = random.choice(all_card_hodlers)

# Finds and displays potentially fraudulent transactions for first random card holder
outlier_finder(rand_card_holder_1)

,id,date,amount,card,id_merchant,outlier
179,2925,2018-11-08 02:10:03,22.78,5135837688671496,78,possible fraud

In [8]:
# Finds and displays potentially fraudulent transactions for second random card holder
outlier_finder(rand_card_holder_2)

,id,date,amount,card,id_merchant,outlier
4,1291,2018-01-08 02:34:32,1029.0,3581345943543942,145,possible fraud
23,1842,2018-02-27 15:27:32,1145.0,3581345943543942,33,possible fraud
40,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,possible fraud
67,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,possible fraud
79,1348,2018-07-24 22:42:00,1108.0,3581345943543942,35,possible fraud
81,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,possible fraud
90,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,possible fraud
92,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,possible fraud
122,1408,2018-11-27 17:20:29,1279.0,3581345943543942,134,possible fraud

In [9]:
# Finds and displays potentially fraudulent transactions for third random card holder
outlier_finder(rand_card_holder_3)

Empty DataFrame
Columns: [id, date, amount, card, id_merchant, outlier]
Index: []

## Identifying Outliers Using Interquartile Range

In [27]:
# Write a function that locates outliers using interquartile range
"""
split into 4 groups of %25
"""

def iqr_outlier_finder(cardholder_id):
    query1 = """
        SELECT * 
        FROM transaction
        WHERE card IN
        (
        SELECT card
        FROM credit_card
        WHERE (cardholder_id = 18)
        )  
        ;
    """

    # Creates the dataframe
    cardholder_transaction_iqr_df = pd.read_sql(query1, engine)

    # Saves the relavent quartile variables
    Q1 = cardholder_transaction_iqr_df.quantile(0.25)
    Q3 = cardholder_transaction_iqr_df.quantile(0.75)
    IQR = Q3 - Q1

    # Sets the lower and upper limits
    lower_limit = Q1.amount - (1.5 * IQR.amount)
    upper_limit = Q3.amount + (1.5 * IQR.amount)

    # Defines the outlier() function
    def outlier(amount):
        if ((amount > upper_limit) or (amount < lower_limit)):
            return "possible fraud"
        else:
            return "normal"

    # Applys the outlier function ot each transaction of the dataframe
    cardholder_transaction_iqr_df['outlier'] = cardholder_transaction_iqr_df['amount'].apply(outlier)

    # Saves the flagged transactions and returns them
    possible_fraud = cardholder_transaction_iqr_df[cardholder_transaction_iqr_df['outlier']=='possible fraud']
    return possible_fraud

,id,date,amount,card,id_merchant,outlier
2,3457,2018-01-07 01:10:54,175.0,344119623920892,12,possible fraud
3,812,2018-01-08 11:15:36,333.0,344119623920892,95,possible fraud
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
62,654,2018-06-30 01:56:19,121.0,344119623920892,20,possible fraud
66,560,2018-07-06 16:12:08,117.0,344119623920892,62,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
87,2103,2018-09-02 11:20:42,458.0,344119623920892,10,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

In [28]:
# Find anomalous transactions for 3 random card holders

# Selects random card holders from a list
# Initializes the list
all_card_hodlers = list(range(1,26))
# Selects first random cardholder then removes them from the list to prevent duplicate selection
rand_card_holder_1 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_1)
# Selects second
rand_card_holder_2 = random.choice(all_card_hodlers)
all_card_hodlers.remove(rand_card_holder_2)
# Selects third
rand_card_holder_3 = random.choice(all_card_hodlers)

# Finds and displays potentially fraudulent transactions for first random card holder
iqr_outlier_finder(rand_card_holder_1)

,id,date,amount,card,id_merchant,outlier
2,3457,2018-01-07 01:10:54,175.0,344119623920892,12,possible fraud
3,812,2018-01-08 11:15:36,333.0,344119623920892,95,possible fraud
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
62,654,2018-06-30 01:56:19,121.0,344119623920892,20,possible fraud
66,560,2018-07-06 16:12:08,117.0,344119623920892,62,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
87,2103,2018-09-02 11:20:42,458.0,344119623920892,10,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

In [29]:
# Finds and displays potentially fraudulent transactions for second random card holder
iqr_outlier_finder(rand_card_holder_2)

,id,date,amount,card,id_merchant,outlier
2,3457,2018-01-07 01:10:54,175.0,344119623920892,12,possible fraud
3,812,2018-01-08 11:15:36,333.0,344119623920892,95,possible fraud
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
62,654,2018-06-30 01:56:19,121.0,344119623920892,20,possible fraud
66,560,2018-07-06 16:12:08,117.0,344119623920892,62,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
87,2103,2018-09-02 11:20:42,458.0,344119623920892,10,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

In [30]:
# Finds and displays potentially fraudulent transactions for third random card holder
iqr_outlier_finder(rand_card_holder_3)

,id,date,amount,card,id_merchant,outlier
2,3457,2018-01-07 01:10:54,175.0,344119623920892,12,possible fraud
3,812,2018-01-08 11:15:36,333.0,344119623920892,95,possible fraud
18,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,possible fraud
34,1359,2018-04-03 03:23:37,1077.0,344119623920892,100,possible fraud
49,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,possible fraud
62,654,2018-06-30 01:56:19,121.0,344119623920892,20,possible fraud
66,560,2018-07-06 16:12:08,117.0,344119623920892,62,possible fraud
71,136,2018-07-18 09:19:08,974.0,344119623920892,19,possible fraud
87,2103,2018-09-02 11:20:42,458.0,344119623920892,10,possible fraud
90,1431,2018-09-10 22:49:41,1176.0,344119623920892,72,possible fraud
117,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,possible fraud
123,1326,2018-12-13 12:09:58,1154.0,344119623920892,8,possible fraud

In [26]:
query1 = """
    SELECT * 
    FROM transaction
    WHERE card IN
    (
    SELECT card
    FROM credit_card
    WHERE (cardholder_id = 18)
    )  
    ;
"""


cardholder_transaction_iqr_df = pd.read_sql(query1, engine)


Q1 = cardholder_transaction_iqr_df.quantile(0.25)
Q3 = cardholder_transaction_iqr_df.quantile(0.75)


IQR = Q3 - Q1


lower_limit = Q1.amount - (1.5 * IQR.amount)
upper_limit = Q3.amount + (1.5 * IQR.amount)


def outlier(amount):
    if ((amount > upper_limit) or (amount < lower_limit)):
        return "possible fraud"
    else:
        return "normal"


cardholder_transaction_iqr_df['outlier'] = cardholder_transaction_iqr_df['amount'].apply(outlier)


possible_fraud = cardholder_transaction_iqr_df[cardholder_transaction_iqr_df['outlier']=='possible fraud']

       id                date  amount             card  id_merchant  \
2    3457 2018-01-07 01:10:54   175.0  344119623920892           12
3     812 2018-01-08 11:15:36   333.0  344119623920892           95
18   3098 2018-02-19 22:48:25  1839.0  344119623920892           95
34   1359 2018-04-03 03:23:37  1077.0  344119623920892          100
49   3139 2018-06-03 20:02:28  1814.0  344119623920892          123
62    654 2018-06-30 01:56:19   121.0  344119623920892           20
66    560 2018-07-06 16:12:08   117.0  344119623920892           62
71    136 2018-07-18 09:19:08   974.0  344119623920892           19
87   2103 2018-09-02 11:20:42   458.0  344119623920892           10
90   1431 2018-09-10 22:49:41  1176.0  344119623920892           72
117  3252 2018-11-17 05:30:43  1769.0  344119623920892           18
123  1326 2018-12-13 12:09:58  1154.0  344119623920892            8

            outlier
2    possible fraud
3    possible fraud
18   possible fraud
34   possible fraud
49   possible fraud
62   possible fraud
66   possible fraud
71   possible fraud
87   possible fraud
90   possible fraud
117  possible fraud
123  possible fraud

In [ ]:
IQR1 = stats.iqr(data, interpolation='midpoint')
IQR1

In [ ]:
cardholder_transaction_df['amount'].sort_values()